.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    @include large {
      column-gap: 20px;
    }
    @include mobile {
      display: none;
    }
  }

  &__link {
    display: inline-block;
    border-bottom: 2px solid transparent;
    font-size: 18px;
    letter-spacing: 0.001em;
    text-transform: uppercase;
    transition: color 0.2s ease-in, border-bottom 0.2s ease-in;
    @include large {
      font-size: 16px;
    }
    &:hover,
    &:focus {
      border-bottom: 2px solid $gold;
      color: $gold;
    }
    &--phone {
      letter-spacing: 0.05em;
      font-size: 16px;
    }
  }
}
